@use 'variables'

*
    padding: 0
    margin: 0

    body
        font-family: 'Trebuchet MS', Helvetica, sans-serif
        background: #FFF url(../imagens/fundo.png) repeat-x

    ul
        margin: 0
        padding: 0
        list-style: none

    a
        text-decoration: none
        display: block
        font-size: 0.9em

    button
        cursor: pointer

    h2
        font-size: 1em
        background: variables.$bg-color-h2
        color: variables.$color-white
        padding: 5px

h3
    text-transform: uppercase
    display: block
    font-size: 0.8em
    padding: 3px

/*Formatando destaque */

.destaque h3
    background: #b10333
    color: variables.$color-white

.entrevista h3
    background: #de003e
    color: black

/*Formatando lista de notícias */
#lista-noticias li
    padding: 2px
    border-bottom: 1px solid #ccc
    height: 62px

    a
        font-size: 0.8em

        h3
            padding: 5px
            color: #3e7ab9

        p
            font-size: 0.7em

    a img
        float: left
        margin: 5px

    &:hover
        background: #eee

.caixa-hover
    &:hover
        background: #eee

    a
        color: #3e7ab9

        p
            color: black

label
    display: block
    cursor: pointer
    padding-bottom: 5px

input
    padding: 5px
    width: 148px
    font-size: 0.9em
    background-color: #fff

img.imagem-principal
    width: 98%
    border: 3px solid #dfdfdf
