@use 'variables'

*
    padding: 0
    margin: 0

    body
        font-family: 'Trebuchet MS', Helvetica, sans-serif
        background: #FFF url(../imagens/fundo.png) repeat-x

    ul
        margin: 0
        padding: 0
        list-style: none

    a
        text-decoration: none

    button
        cursor: pointer 


